.ser_card_title {
  font-size: 24px;
  font-family: "Bebas Neue";
  font-weight: bold;
  color: #363958;
}
.remove_border {
  border: none;
}
.card_shadow_ser {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  /* padding-top: 18px; */
  padding: 18px 18px;
}
.card-body1-Ser {
  padding: 0px;
}
.ser-card-img{
  padding: 28px 28px;
}
